p {
	color: white;
	font-size: 18px;
	font-family:Helvetica;
}



h1 {
	color:#ff7097; 
	font-size:72px; 
	font-family:Helvetica;
	
}




h2 {
	color:#ff7097; 
	font-size:60px; 
	font-family:Helvetica;
	
}



h3 {
	color:#ff7097; 
	font-size:40px; 
	font-family:Helvetica;
	
}

h4 {
	color:#ff7097; 
	font-size:25px; 
	font-family:Helvetica;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.gallery-item {
  flex-basis: calc((100% / 3) - 10px);
  width: calc((100% / 3) - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.gallery-item img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% / 2) - 10px);
    width: calc((100% / 2) - 10px);
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    width: 100%;
  }
}




.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-item {
  background-color: #000;
  border: 1px solid #ddd;
  border-color: lightgrey;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item h4 {
  font-size: 18px;
  margin: 0;
}

.menu-item p {
  font-size: 16px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .menu {
    grid-template-columns: 1fr;
  }

  .menu-item {
    height: auto;
    margin-bottom: 20px;
  }
}

