p {
	color: white;
	font-size: 18px;
	font-family:Helvetica;
}



h1 {
	color:#ff7097; 
	font-size:72px; 
	font-family:Helvetica;
	
}




h2 {
	color:#ff7097; 
	font-size:60px; 
	font-family:Helvetica;
	
}



h3 {
	color:#ff7097; 
	font-size:40px; 
	font-family:Helvetica;
	
}